
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="row">
        @if (User.IsInRole(HRAttendance.Utils.Constants.ManagementPermissionName)) 
        {
            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                <a href="@Url.Action("Index", "Employee")" readonly="true">
                    <figure>
                        <img alt="EDID" src="~/Content/Images/employees.png" class="home-icon" />
                        <figcaption>Employee Management</figcaption>
                    </figure>
                </a>
            </div>
        }
        
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index", "Attendance")" readonly="true">
                <figure>
                    <img alt="Attendance" src="~/Content/Images/fingerprint.png" class="home-icon" />
                    <figcaption>Attendance</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index","Leave")">
                <figure>
                    <img alt="Leave" src="~/Content/Images/leave.png" class="home-icon" />
                    <figcaption>Leave</figcaption>
                </figure>
            </a>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
            <a href="@Url.Action("Index", "TimeCard")" readonly="true">
                <figure>
                    <img alt="TimeCard" src="~/Content/Images/time-card.png" class="home-icon" />
                    <figcaption>Time Card</figcaption>
                </figure>
            </a>
        </div>
        
    </div>
</main>