
@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Tab Navigation -->
<ul class="nav nav-tabs" id="AttendanceTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="attendance-tab" data-bs-toggle="tab" data-bs-target="#attendance" type="button" role="tab" aria-controls="account" aria-selected="false">@HRAttendance.Resources.Attendance.AttendanceRex.LB_Attendance</button>
    </li>
    @if (User.IsInRole(HRAttendance.Utils.Constants.ManagementPermissionName)) 
    {
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="management-tab" data-bs-toggle="tab" data-bs-target="#management" type="button" role="tab" aria-controls="account" aria-selected="false">@HRAttendance.Resources.Attendance.AttendanceRex.LB_Management</button>
        </li>
    }
</ul>

<!-- Tab Content -->
<div class="tab-content" id="attendanceTabContent">
    <div class="tab-pane fade show active" id="attendance" role="tabpanel" aria-labelledby="attendance-tab">
        @Html.Partial("~/Views/Attendance/_EmpAttendanceView.cshtml")
    </div>
    @if (User.IsInRole(HRAttendance.Utils.Constants.ManagementPermissionName)) 
    {
        <div class="tab-pane fade" id="management" role="tabpanel" aria-labelledby="management-tab">
            <p>Comming soon...</p>
            <p>The Management View will show the daily attendance of the all of the employees</p>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        attendanceView.Initialize();
    })
</script>
